<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978778728320-ngavkfjgadtn9mq5flogsbodfgg4smsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978778728320-ngavkfjgadtn9mq5flogsbodfgg4smsr</string>
	<key>API_KEY</key>
	<string>AIzaSyDBJ7g9CykMIDx0jPezfShQ_1T9eXpD-UA</string>
	<key>GCM_SENDER_ID</key>
	<string>978778728320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.dronetransportation</string>
	<key>PROJECT_ID</key>
	<string>drone-transport-updated</string>
	<key>STORAGE_BUCKET</key>
	<string>drone-transport-updated.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978778728320:ios:994fa9891caa688b620365</string>
	<key>DATABASE_URL</key>
	<string>https://drone-transport-updated.firebaseio.com</string>
</dict>
</plist>